.aboutme-container {
    width: clamp(45ch, 70%, 75ch);
    justify-content: center;
    margin: 4rem auto;
    display: grid;
    column-gap: 2.5em;
    grid-template-columns: min-content max-content;
    grid-template-areas:
        'img title'
        'img subtitle';
}

.aboutme-picture {
    border-radius: 50%;
    height: 15rem;
    grid-area: img;
    z-index: 2;
}

.aboutme-title {
    text-transform: capitalize;
    grid-area: title;
    align-self: end;
}

.aboutme-subtitle {
    position: relative;
    grid-area: subtitle;
    background-color: hsl(214, 76%, 67%);
    font-size: 1.5rem;
    max-height: 1.8em;
    padding: 0.2em 0.4em;
    text-align: right;
    left: -18rem;
    width: calc(100% + 18rem);
    border-radius: 5px;
}
