<div class="aboutme-header-container">
    <img class="aboutme-picture blur" src="/assets/images/aboutme.jpg" alt="Picutre of me" />
    <h2 class="aboutme-title blur hide-right">About me</h2>
    <span class="aboutme-subtitle blur hide-right">Software Engineer</span>
</div>
<div class="aboutme-body-container">
    <div class="aboutme-innerbody-container">
        <div class="paragraph paragraph-text blur">My name is Paweł and I'm {{ age }} years old</div>
        <div class="paragraph paragraph-text blur">I am a Software Engineer living in Wrocław</div>
        <div class="paragraph paragraph-text blur">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis expedita molestiae hic minima? Suscipit, veritatis
            nulla. Id dolor dolores excepturi molestiae, fuga assumenda doloremque perferendis possimus tempore consequuntur ea
            adipisci!
        </div>
    </div>
</div>
