<app-section-header></app-section-header>
<div class="aboutme-body-container container-width">
    <div class="aboutme-innerbody-container card-width text-light">
        <div class="paragraph paragraph-text blur">Hi! ✌️😁</div>
        <div class="paragraph paragraph-text blur">
            My name is <b>Paweł</b>, and I'm <b>{{ age }}</b
            >-year-old Software Engineer based in {{ placeOfLiving }}.
        </div>
        <div class="paragraph paragraph-text blur">
            I&nbsp;graduated in Computer Science from Wrocław University of Science and Technology and have been working as
            a&nbsp;Software Engineer since.
        </div>
        <div class="paragraph paragraph-text blur">
            Currently, I'm a&nbsp;<b>{{ currentJob.positions[0].name }}</b> at {{ currentJob.company }}, specializing in
            {{ stack }}. I&nbsp;also occasionally take on freelance development projects.
        </div>
        <div class="paragraph paragraph-text blur">
            I’m passionate about learning new technologies and continuously improving my skills. I’m a&nbsp;team player with
            excellent communication, problem-solving, and organizational skills. I also happen to have strong experience in client
            interaction, and solution design.
        </div>
        <div class="paragraph paragraph-text blur">Feel free to <b>contact</b> me by scrolling to the bottom of this page.</div>
    </div>
</div>
