@import '../../../styles/variables';

.aboutme-header-container {
    overflow-x: hidden;
    min-height: 17rem;
    justify-content: center;
    align-content: center;
    margin: 5rem auto 2rem;
    display: grid;
    column-gap: 2.5em;
    grid-template-columns: min-content max-content;
    grid-template-areas:
        'img title'
        'img subtitle';
}

.aboutme-picture {
    border-radius: 50%;
    height: 15rem;
    grid-area: img;
    z-index: 2;
    box-shadow: $box-shadow;
}

.aboutme-title {
    text-transform: capitalize;
    grid-area: title;
    align-self: end;
    text-shadow: $box-shadow-subtle;
}

.aboutme-subtitle {
    position: relative;
    grid-area: subtitle;
    background-color: hsl(214, 76%, 67%);
    font-size: 1.5rem;
    max-height: 1.8em;
    padding: 0.2em 0.4em;
    text-align: right;
    left: -18rem;
    width: calc(100% + 18rem);
    border-radius: 5px;
    box-shadow: $box-shadow-subtle;
}

.aboutme-body-container {
    background-image: url('/assets/images/florence.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: hsl(0, 0%, 25%);
    padding: 2rem 0;
    box-shadow: $box-shadow;
}

.aboutme-innerbody-container {
    height: 100%;
    margin: 0 auto;
    background-color: hsla(0, 0%, 10%, 85%);
    border-radius: 20px;
    box-shadow: $box-shadow-strong;
}

@media (max-width: $small-boundary) {
    .aboutme-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: fit-content;
        padding: 2rem 0;

        margin: 1rem auto 1rem;
    }

    .aboutme-title {
        text-transform: capitalize;
        align-self: center;
    }

    .aboutme-subtitle {
        position: static;
        font-size: 1.5rem;
        max-height: 1.8em;
        padding: 0.2em 0.4em;
        text-align: center;
        border-radius: 5px;
        width: calc(100% - 6rem);
    }
}
