<div class="aboutme-header-container container-width">
    <img class="aboutme-picture blur" src="/assets/images/aboutme.jpg" alt="Picutre of me" />
    <h2 class="aboutme-title blur hide-right">About me</h2>
    <span class="aboutme-subtitle blur hide-right">Software Engineer</span>
</div>
<div class="aboutme-body-container container-width">
    <div class="aboutme-innerbody-container card-width">
        <div class="paragraph paragraph-text blur">
            My name is <b>Paweł</b> and I'm <b>{{ age }}</b> years old. I've graduated Wrocław University of Science and
            Technology, where I&nbsp;studied Computer Science, and been working as a&nbsp;Software Engineer ever since
        </div>
        <div class="paragraph paragraph-text blur">
            Currently I live in {{ placeOfLiving }} and work as a <b>{{ currentJob.position }}</b> at {{ currentJob.name }}.
            I&nbsp;also work ocassionally as a&nbsp;freelance developer
        </div>
        <div class="paragraph paragraph-text blur">
            At my current job I mostly use {{ stack }} but I am always eager to learn new technology and hone my skills as a
            Software Engineer
        </div>
    </div>
</div>
