#Vs code
.vs/
.vscode/

#Angular and node modules
.angular/
node_modules/

#Files
*.config
*.conf
.gitattributes
.gitignore
build.gradle
gradle.properties
gradlew.bat
gw.bat
Jenkinsfile
omnisharp.json
README.md
settings.gradle
.browserslistrc
.editorconfig
.eslintrc.json
.eslintrc
.mocharc.jsonc
.npmrc
package.json
package-lock.json
*.conf.js
*.yml