@import 'src/styles/mixins';
@import 'src/styles/variables';

.interests-container {
    position: relative;
    @include section-background('../assets/images/hobbies.jpg', top);
}

.interests-container::before {
    @include section-before;
}

.interests-container::after {
    @include section-after;
}

.interests-innerbody-container {
    padding: 3rem;
    @include inner-body-dark-card;
}

.interests-item {
    position: relative;
    font-size: 1.8rem;
    color: $light-color;
    text-transform: capitalize;
    text-align: center;
    text-shadow: $box-shadow-ligth-subtle;
    transition: 0.7s;
}

.interests-item:hover div {
    transition: 0.7s;
    transform: scale(1.1);
}

.interests-item + .interests-item {
    margin-top: 4rem;
}

.interests-item + .interests-item::before {
    position: absolute;
    top: -2rem;
    left: 40%;
    width: 20%;
    margin: 0 auto;
    content: '';
    border: 0.5px hsla(0, 0%, 100%, 0.3) solid;
    filter: blur(1px);
    pointer-events: none;
}

.interests-item {
    position: relative;
    font-size: 1.8rem;
    color: $light-color;
    text-transform: capitalize;
    text-align: center;
    text-shadow: $box-shadow-ligth-subtle;
}

@media (max-width: $medium-boundary) {
    .interests-item {
        font-size: 1.4rem;
    }

    .interests-container {
        @include section-background('../assets/images/small/hobbies.jpg', top);
    }
}

@media (max-width: $small-boundary) {
    .interests-item {
        font-size: 1.2rem;
    }
}
