<div class="experience-item-container text-light">
    <div class="company">
        <img class="blur" [src]="job.image" alt="" />
        <div class="companyname blur">{{ job.company }}</div>
    </div>
    <div class="positions">
        <div class="position" *ngFor="let position of job.positions">
            <div class="start-date blur">{{ position.end ? (position.end | date : 'd MMM y') : 'Current' }}</div>
            <div class="end-date blur">{{ position.start | date : 'd MMM y' }}</div>
            <div class="position-name hide-right blur">{{ position.name }}</div>
        </div>
    </div>
</div>

