@import 'src/styles/variables';

.experience-item-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
        'company positions'
        'company positions';
    padding: 2.5rem;
    column-gap: 2rem;
}

img {
    width: 9rem;
    border-radius: 50%;
    grid-area: image;
}

.company {
    grid-area: company;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    row-gap: 1rem;
    font-size: 1.2rem;
    font-weight: 1000;
}

.positions {
    grid-area: positions;
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
}

.positions::before {
    position: absolute;
    content: '';
    top: 7%;
    left: -1.5rem;
    width: 0.2rem;
    height: 85%;
    background-color: $light-color;
}

.position {
    position: relative;
    display: grid;
    grid-template-areas:
        'end position-name'
        'start position-name';
    grid-template-columns: 1fr 2fr;
    row-gap: 2rem;
    column-gap: 0.4rem;
}

.position + .position {
    margin: 4rem 0 0 0;
}

.position + .position::before {
    position: absolute;
    top: -2rem;
    left: 36%;
    width: 60%;
    content: '';
    border: 0.5px hsla(0, 0%, 100%, 0.3) solid;
    filter: blur(1px);
}

.date-text {
    font-size: 0.9rem;
}

.end-date {
    @extend .date-text;
    grid-area: end;
    position: relative;
}

$date-point-left: -1.8rem;
$date-point-size: 0.8rem;
$date-point-y: 0.3rem;

.end-date::before {
    position: absolute;
    content: '';
    top: $date-point-y;
    left: $date-point-left;
    width: $date-point-size;
    height: $date-point-size;
    background-color: $light-color;
    border-radius: 50%;
}

.position-end {
    top: -2.6rem;
}

.start-date {
    @extend .date-text;

    position: relative;
    grid-area: start;
    display: flex;
    align-items: end;
}

.start-date::before {
    position: absolute;
    content: '';
    bottom: $date-point-y;
    left: $date-point-left;
    width: $date-point-size;
    height: $date-point-size;
    background-color: $light-color;
    border-radius: 50%;
}

.position-name {
    grid-area: position-name;
    align-self: center;
    font-size: 1.3rem;
    font-weight: 1000;
    text-align: center;
    overflow-wrap: break-word;
}

@media (max-width: $medium-boundary) {
    img {
        width: 7rem;
    }

    .position-name {
        font-size: 1.1rem;
    }

    .company {
        font-size: 1.1rem;
        font-weight: 800;
    }

    .date-text {
        font-size: 0.85rem;
    }
}

@media (max-width: $small-boundary) {
    img {
        width: 5rem;
    }

    .company {
        font-size: 1rem;
        font-weight: 600;
    }

    .experience-item-container {
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .company {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: left;
        column-gap: 1.1rem;
    }

    .position-name {
        font-size: 1rem;
    }

    .position-name {
        grid-area: position-name;
        align-self: center;
        font-size: 1em;
        font-weight: 800;
        text-align: center;
        overflow-wrap: break-word;
    }

    .date-text {
        font-size: 0.7rem;
    }
}
