@import './variables.scss';

@mixin header($fontSize, $padding, $borderRadius) {
    font-size: $fontSize;
    padding: $padding;
    border-radius: $borderRadius;
}

@mixin section-background($image, $image-position) {
    background-image: url($image);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: $image-position;
    background-blend-mode: multiply;
    background-color: hsl(0, 0%, 25%);
    padding: 4rem 0;
}

@mixin section-before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: $transition-height;
    background-image: linear-gradient(to bottom, $body-background, transparent);
}

@mixin section-after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $transition-height;
    background-image: linear-gradient(to top, $body-background, transparent);
}

@mixin inner-body-dark-card {
    height: 100%;
    margin: 0 auto;
    background-color: $dark-card-background;
    border-radius: 20px;
    box-shadow: $box-shadow-strong;
}
