@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './mixins.scss';
@import './variables.scss';

*,
*::after,
*::before {
    font-family: 'Poppins', sans-serif;
}

h1 {
    @include header($h1-fs-large, 0.3em, 0.2em);
    transition: 0.7s;
}

h2 {
    @include header($h2-fs-large, 0, 0);
}

h3 {
    @include header($h3-fs-large, 0, 0);
}

.paragraph-text {
    color: $light-color;
    font-size: $paragraph-fs-large;
    text-align: justify;
    text-justify: inter-word;
}

.paragraph {
    padding: 1rem 2rem;
}

.paragraph:first-of-type {
    padding-top: 2rem;
}

.paragraph:last-of-type {
    padding-bottom: 2rem;
}

@media (max-width: $medium-boundary) {
    h1 {
        @include header($h1-fs-medium, 0.3em, 0.2em);
    }

    h2 {
        @include header($h2-fs-medium, 0, 0);
    }

    h3 {
        @include header($h3-fs-medium, 0, 0);
    }

    .paragraph-text {
        font-size: $paragraph-fs-medium;
    }
}

@media (max-width: $small-boundary) {
    h1 {
        @include header($h1-fs-small, 0.3em, 0.2em);
    }

    h2 {
        @include header($h2-fs-small, 0, 0);
    }

    h3 {
        @include header($h3-fs-small, 0, 0);
    }

    .paragraph-text {
        font-size: $paragraph-fs-small;
    }
}

@media (max-width: $verysmall-boundary) {
    h1 {
        @include header($h1-fs-verysmall, 0.3em, 0.2em);
    }

    h2 {
        @include header($h2-fs-verysmall, 0, 0);
    }

    h3 {
        @include header($h3-fs-verysmall, 0, 0);
    }

    .paragraph-text {
        font-size: $paragraph-fs-verysmall;
    }
}

@media (max-width: 330px) {
    h1 {
        @include header(1.5rem, 0.3em, 0.2em);
    }
}
