@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import './mixins.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    @include header(4.5rem, 0.3em, 0.2em);
}

h2 {
    @include header(4rem, 0, 0);
}

.paragraph-text {
    color: var(--section-header-message-color);
    font-size: var(--paragraph-fs);
}

.paragraph {
    padding: 1rem 2rem;
}

.paragraph:first-of-type {
    padding-top: 2rem;
}

.paragraph:last-of-type {
    padding-bottom: 2rem;
}
