@import './variables';

.card-width {
    width: clamp(40ch, 65%, 75ch);
}

.container-width {
    width: clamp(40ch, 100%, 100%);
}

// animations on scroll
.blur {
    filter: blur(10px);
    transition: all 0.7s;
}

.unblur {
    filter: blur(0);
}

.hide-right {
    opacity: 0;
    transform: translateX(50%);
    transition: all 0.7s;
}

.hide-left {
    opacity: 0;
    transform: translateX(-50%);
    transition: all 0.7s;
}

.show-horizontal {
    opacity: 1;
    transform: translateX(0);
}

.move-down {
    transform: translateY(100%);
    transition: all 0.7s 0.2s;
}

.move-up {
    transform: translateY(0);
}

@media (prefers-reducted-motion) {
    .hidden,
    .hide-right,
    .move-down {
        transition: none;
    }
}

@media (max-width: $verysmall-boundary) {
    .card-width {
        width: clamp(25ch, 50%, 50ch);
    }

    .container-width {
        width: clamp(30ch, 100%, 100%);
    }
}
