// colors
$body-background: hsl(0, 0%, 92%);
$landing-message-background: hsl(240, 50%, 45%);
$light-color: hsl(0, 0%, 85%);
$dark-color: hsl(0, 0%, 15%);
$blue-theme-color: hsl(214, 76%, 67%);
$blue-theme-color-transparent: hsl(214, 76%, 67%, 0.6);
$dark-blue-theme-color-transparent: hsla(214, 42%, 52%, 0.6);
$dark-card-background: hsla(0, 0%, 10%, 85%);
$light-card-background: hsla(0, 0%, 85%, 0.85);

// media queries boundaries
$medium-boundary: 780px;
$small-boundary: 560px;
$verysmall-boundary: 440px;

// typography
$h1-fs-large: 4rem;
$h1-fs-medium: 3rem;
$h1-fs-small: 2.5rem;
$h1-fs-verysmall: 2rem;

$h2-fs-large: 3.5rem;
$h2-fs-medium: 2.8rem;
$h2-fs-small: 2rem;
$h2-fs-verysmall: 1.5rem;

$h3-fs-large: 1.8rem;
$h3-fs-medium: 1.6rem;
$h3-fs-small: 1.4rem;
$h3-fs-verysmall: 1.2rem;

$greeting-fs-large: 2.5rem;
$greeting-fs-medium: 1.8rem;
$greeting-fs-small: 1.4rem;
$greeting-fs-verysmall: 1.2rem;

$paragraph-fs-large: 1.5rem;
$paragraph-fs-medium: 1.3rem;
$paragraph-fs-small: 1.1rem;
$paragraph-fs-verysmall: 1rem;

$box-shadow: 2px 2px 20px hsl(0, 1%, 1%, 0.75);
$box-shadow-subtle: 5px 5px 5px hsl(0, 1%, 1%, 0.3);
$box-shadow-strong: 7px 7px 3px hsl(0, 1%, 1%, 0.3);
$box-shadow-ligth-subtle: 4px 4px 7px hsla(0, 0%, 70%, 0.4);

$skills-border-width: 0.2rem;
$transition-height: 1.5rem;
