@import 'src/styles/variables';
@import 'src/styles/mixins';

.projects-container {
    position: relative;
    @include section-background('../assets/images/worktable.jpg', top);
}

.projects-container::before {
    @include section-before;
}

.projects-container::after {
    @include section-after;
}

.projects-innerbody-container {
    @include inner-body-dark-card;
    padding: 2rem 4rem;
}

.project-item {
    position: relative;
    color: $light-color;
    display: grid;
    grid-template-areas:
        'image title'
        'image description'
        'image tags';
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    row-gap: 1rem;
}

.project-item + .project-item {
    margin-top: 4rem;
}

.project-item + .project-item::before {
    position: absolute;
    top: -2rem;
    left: 5%;
    width: 90%;
    margin: 0 auto;
    content: '';
    border: 0.5px hsla(0, 0%, 100%, 0.3) solid;
    filter: blur(1px);
    pointer-events: none;
}

.project-item:hover .project-image {
    transform: scale(1.2);
}

.project-image {
    grid-area: image;
    width: 100%;
    border-radius: 20px;
    align-self: center;
}

.project-name {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 1000;
    grid-area: title;
}

.project-description {
    text-align: center;
    grid-area: description;
    font-size: 1.2rem;
}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-area: tags;
    margin-top: 1rem;
}

.project-tag {
    padding: 0.3rem;
    color: $dark-color;
    background-color: hsla(0, 0%, 100%, 0.815);
    border-radius: 20px;
}

.project-tag::before {
    content: '#';
}

a {
    text-decoration: none;
}

@media (max-width: $medium-boundary) {
    .project-item {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .project-image {
        width: 80%;
    }

    .project-name {
        font-size: 1.35rem;
    }

    .project-description {
        font-size: 1.1rem;
    }

    .project-tag {
        font-size: 0.9rem;
    }
}

@media (max-width: $small-boundary) {
    .project-image {
        width: 100%;
    }

    .project-name {
        font-size: 1.05rem;
    }

    .project-description {
        font-size: 0.9rem;
    }

    .project-tag {
        font-size: 0.6rem;
    }
}
