<app-section-header title="Projects" subtitle="Published code" [image]="image" reverted></app-section-header>
<div class="projects-container container-width">
    <div class="projects-innerbody-container card-width">
        <a [href]="project.link" target="_blank" class="project-item" *ngFor="let project of projects">
            <img [src]="project.image" class="project-image blur" />
            <div class="project-name blur">{{ project.name }}</div>
            <div class="project-description blur">{{ project.description }}</div>
            <div class="project-tags">
                <div class="project-tag blur" *ngFor="let tag of project.tags">{{ tag }}</div>
            </div>
        </a>
    </div>
</div>

