@import '/src/styles/mixins';
@import '/src/styles/variables';

.section-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: hsl(0, 0%, 45%);

    box-shadow: $box-shadow;

    scroll-snap-type: mandatory;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.section-header-message {
    background-color: $landing-message-background;
    color: $light-color;
    box-shadow: $box-shadow-strong;
    text-shadow: $box-shadow-strong;
}

.section-greeting {
    position: relative;
    color: $light-color;
    @include header($greeting-fs-large, 0.1em, 0.1em);
    text-shadow: $box-shadow-strong;
}

@media (max-width: $medium-boundary) {
    .section-container {
        min-height: 98vh;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
    }

    .section-greeting {
        position: relative;
        color: $light-color;
        @include header($greeting-fs-medium, 0.1em, 0.1em);
        text-shadow: $box-shadow-strong;
    }
}

@media (max-width: $small-boundary) {
    .section-greeting {
        position: relative;
        color: $light-color;
        @include header($greeting-fs-small, 0.1em, 0.1em);
        text-shadow: $box-shadow-strong;
    }
}

@media (max-width: $verysmall-boundary) {
    .section-greeting {
        position: relative;
        color: $light-color;
        @include header($greeting-fs-verysmall, 0.1em, 0.1em);
        text-shadow: $box-shadow-strong;
    }
}

h1 {
    z-index: 1;
}
