@import '/src/styles/variables';
div {
    min-height: 0.8rem;
    border-radius: 15px;
}

.outer-bar {
    border: 2px gray solid;
    margin: 1rem 2rem;
    box-shadow: $box-shadow-ligth-subtle;
}

.progress-background {
    background: linear-gradient(
        to right,
        rgb(255, 255, 255) 0%,
        rgb(168, 233, 255) 50%,
        rgb(99, 177, 254) 60%,
        rgb(30, 139, 255) 65%,
        rgb(21, 44, 251) 70%,
        rgb(206, 29, 255) 100%
    );
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 0.8s;
}

@media (max-width: $small-boundary) {
    .outer-bar {
        border: 2px gray solid;
        margin: 0.2rem 0.5rem;
    }
}
