@import '/src/styles/variables';
div {
    min-height: 0.8rem;
    border-radius: 15px;
}

.outer-bar {
    border: 2px gray solid;
    margin: 1rem 2rem;
}

.progress-background {
    background: linear-gradient(
        to right,
        rgba(0, 255, 16, 1) 0%,
        rgba(0, 255, 16, 1) 40%,
        rgba(232, 255, 0, 1) 55%,
        rgba(255, 0, 0, 1) 60%,
        rgba(0, 31, 255, 1) 82%,
        rgba(231, 0, 255, 1) 100%
    );
    background-size: 100%;
    background-attachment: fixed;
    transition: all 0.8s;
}

@media (max-width: $small-boundary) {
    .outer-bar {
        border: 2px gray solid;
        margin: 0.2rem 0.5rem;
    }
}
