<div class="section-header-container container-width" [ngClass]="{ 'section-header-container-reverted': reverted }">
    <img class="section-picture blur" [src]="image" alt="Picutre of me" />
    <h2 class="section-title blur" [ngClass]="{ 'hide-left': reverted, 'hide-right': !reverted }">{{ title }}</h2>
    <span
        class="section-subtitle blur"
        [ngClass]="{ 'section-subtitle-reverted': reverted, 'hide-left': reverted, 'hide-right': !reverted }"
        >{{ subtitle }}</span
    >
</div>

