@import '../../../styles/mixins';

.section-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-blend-mode: multiply;
    background-color: hsl(0, 0%, 45%);
}

.section-header-message {
    background-color: var(--section-header-message-background);
    color: var(--section-header-message-color);
}

.section-greeting {
    color: var(--section-header-message-color);
    @include header(2.5rem, 0.1em, 0.1em);
}
