@import '../../../styles/variables';

.section-header-container {
    overflow-x: hidden;
    min-height: 17rem;
    justify-content: center;
    align-content: center;
    margin: 5rem auto 2rem;
    display: grid;
    column-gap: 2.5em;
    grid-template-columns: min-content max-content;
    grid-template-areas:
        'img title'
        'img subtitle';
}

.section-header-container-reverted {
    @extend .section-header-container;
    grid-template-columns: max-content min-content;
    grid-template-areas:
        'title img'
        'subtitle img';
}

.section-picture {
    border-radius: 50%;
    height: 15rem;
    grid-area: img;
    z-index: 2;
    box-shadow: $box-shadow;
}

.section-title {
    text-transform: capitalize;
    grid-area: title;
    align-self: end;
    text-shadow: $box-shadow-subtle;
}

.section-subtitle {
    position: relative;
    grid-area: subtitle;
    background-color: hsl(214, 76%, 67%);
    font-size: 1.5rem;
    max-height: 1.8em;
    padding: 0.2em 0.4em;
    text-align: right;
    left: -18rem;
    width: calc(100% + 18rem);
    border-radius: 5px;
    box-shadow: $box-shadow-subtle;
}

.section-subtitle-reverted {
    @extend .section-subtitle;
    padding: 0.2em 0.4em;
    text-align: left;
    left: 0;
    right: -18rem;
    width: calc(100% + 18rem);
    direction: ltr;
}

@media (max-width: $small-boundary) {
    .section-header-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: fit-content;
        padding: 2rem 0;

        margin: 1rem auto 1rem;
    }

    .section-title {
        text-transform: capitalize;
        align-self: center;
    }

    .section-subtitle {
        position: static;
        font-size: 1.5rem;
        max-height: 1.8em;
        padding: 0.2em 0.4em;
        text-align: center;
        border-radius: 5px;
        width: calc(100% - 6rem);
    }
}
