<app-section-header title="Skills" subtitle="Technical & personal" [image]="image" reverted></app-section-header>
<div class="skills-technical-background skills-background container-width">
    <div class="card-width skills-technical-container skills-container">
        <div class="skills-technical-header skills-header-border skills-header">
            <h3 class="skill-header-name-padding">Technical</h3>
        </div>
        <div class="skills-technical-body skills-border">
            <ng-container *ngFor="let skill of skills"
                ><span class="paragraph-text skill-name text-light blur">{{ skill.stack }}</span
                ><app-progress-bar [progress]="skill.level"></app-progress-bar
            ></ng-container>
        </div>
    </div>
</div>
<div class="skills-personal-background skills-background container-width">
    <div class="card-width skills-container">
        <div class="skills-personal-body skills-border paragraph-text">
            <span class="iam">I am:</span>
            <ul>
                <li class="blur hide-left" *ngFor="let trait of traits">{{ trait }}</li>
            </ul>
        </div>
    </div>
</div>

