<app-section-header title="Skills" subtitle="Technical & personal" [image]="image" reverted></app-section-header>
<div class="skills-technical-background skills-background">
    <div class="card-width skills-technical-container">
        <div class="skills-technical-header skills-header-border skills-header">
            <h3 class="blur skill-header-name-padding">Technical</h3>
        </div>
        <div class="skills-technical-body skills-border">
            <ng-container *ngFor="let skill of skills"
                ><span class="paragraph-text skill-name">{{ skill.stack }}</span
                ><app-progress-bar [progress]="skill.level"></app-progress-bar
            ></ng-container>
        </div>
    </div>
</div>

