@import './styles/variables.scss';
@import './styles/typography.scss';
@import './styles/mixins.scss';
@import './styles/utils.scss';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
}
