@import '/src/styles/variables';
@import '/src/styles/mixins';

.experience-container {
    position: relative;
    @include section-background('../assets/images/webp/work.webp', bottom);
}

.experience-container::before {
    @include section-before;
}

.experience-container::after {
    @include section-after;
}

.experience-innerbody-container {
    @include inner-body-dark-card;
    text-shadow: $box-shadow-ligth-subtle;
}

.app-experience-item {
    position: relative;
}

.app-experience-item + .app-experience-item::before {
    position: absolute;
    top: 0rem;
    left: 10%;
    width: 80%;
    margin: 0 auto;
    content: '';
    border: 0.5px hsla(0, 0%, 100%, 0.3) solid;
    filter: blur(1px);
}

@media (max-width: $medium-boundary) {
    .experience-container {
        @include section-background('../assets/images/small/work.png', bottom);
    }
}
